.addressInfo {
  width: fit-content;
  height: 400px;
  border: 3px solid #03DAC6;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #282c34;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
}

.left {
  text-align: left;
  padding: 0 15px;
}

.underline {
  text-decoration: underline;
}

@media screen and (max-width: 767px){
  .addressInfo {
   width: 100%;
   justify-content: left;
  }
}
