.mapComp {
  margin: auto;
  width: 600px;
  height: 400px;
  border: 3px solid #03DAC6;
  border-left: none;
}

.noCoordsDiv {
  margin: auto;
  width: 600px;
  height: 400px;
  border: 3px solid #03DAC6;
  background-color: white;
  border-left: none;
  border-radius: 0 12px 12px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 767px){
  .mapComp {
    width: 100%;
    border-left: 3px solid #03DAC6;
    margin-bottom: 1.5rem;
  }

  .noCoordsDiv {
    width: 100%;
    border-left: 3px solid #03DAC6;
    margin-bottom: 1.5rem;
  }
}