.searchForm {
  display: flex;
  border-radius: 12px;
  width: 20vw;
  height: fit-content;
  margin: auto;
  margin-bottom: 2vh;
  background-color: #03dac6;
}

.searchForm input {
  width: 85%;
  height: 4.1vh;
  font-size: 1.5rem;
  outline: none;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
}

.searchForm button {
  height: 4.3vh;
  width: fit-content;
  border: 3px solid #03dac6;
  background-color: #03dac6;
  color: white;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 200;
  padding: 0 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.errorDiv {
  margin: 0;
  margin-bottom: 6vh;
  height: 2rem;
}

.errorMessage {
  color: rgb(255, 88, 88);
  margin: 0;
}

.icon {
  margin: auto;
  vertical-align: middle;
}

@media screen and (max-width: 767px) {
  .searchForm {
    width: 80vw;
  }

  .errorDiv {
    margin-bottom: 0vh;
  }
}
