.App {
  text-align: center;
  background-color: #282c34;
  min-height: 97vh;
  padding-top: 3vh;
  background-image: url('./Assets/backgrounddots.png');
  background-size: cover;
  padding-bottom: 3rem;
}

h2 {
  color: #03DAC6;
  text-decoration: underline;
  margin: 0.5rem;
}

.logo {
  color: #03DAC6;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.logo h1 {
  background-color: #03DAC6;
  color: white;
  border-radius: 12px;
  padding-right: 10px;
}

.logoSpan {
  background-color: white;
  border-radius: 12px;
  color: #03DAC6;
  height: 100%;
  padding: 0 10px;
}
.content {
  width: fit-content;
  margin: auto;
  margin-top: 8vh;
}

.infoAndMap {
  margin: auto;
  height: fit-content;
  width: fit-content;
  display: flex;
}

.headingAndInfo {
  margin-top: 8vh;
}

@media screen and (max-width: 767px){

  .App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 3rem;
  }
  .logo {
    width: fit-content;
    justify-self: center;
    font-size: 1.3rem;
  }

  .content {
    margin-top: 2vh;
  }

  .headingAndInfo {
    margin-top: 3vh;
  }

  .infoAndMap {
    flex-direction: column;
    width: 80vw;
  }
}